{% extends 'base.html' %}
{% block content %}
  <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Sourse</th>
      <th scope="col">Currency</th>
      <th scope="col">Buy</th>
      <th scope="col">Sale</th>
      <th scope="col">Created</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>PrivatBank</td>
      <td>Dollar</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Monobank</td>
      <td>Dollar</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Minora</td>
      <td>Dollar</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <th scope="row">4</th>
      <td>PUMB</td>
      <td>Dollar</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <th scope="row">5</th>
      <td>KredoBank</td>
      <td>Dollar</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Sourse</th>
      <th scope="col">Currency</th>
      <th scope="col">Buy</th>
      <th scope="col">Sale</th>
      <th scope="col">Created</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>PrivatBank</td>
      <td>Euro</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Monobank</td>
      <td>Euro</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Minora</td>
      <td>Euro</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <th scope="row">4</th>
      <td>PUMB</td>
      <td>Euro</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <th scope="row">5</th>
      <td>KredoBank</td>
      <td>Euro</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
{% endblock content %}